[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"

[packages]
flake8 = "*"
pytest = "*"
requests = "*"
mocker = "*"

[requires]
python_version = "3.8"
